body {
  background-color: #0a0a0a;
  background-image: url('./img/vincent armory llc background image.jpg');
  background-repeat: no-repeat;
  background-size: 40%, auto;
  background-position: top right;
  background-attachment: fixed;
  border: 0px;
}

.logo {
  display: block;
}
.logo > div {
}
.logo > div > img {
  display: inline-block;
  width: 10%;
}
.logo > div > h1,
.logo > div > h2 {
  color: #fff;
  vertical-align: top;
  text-align: left;
}



.radio-level-0 {
  display: inline-block;
  position: absolute;
  left: -9999px;
}
.radio-level-0 + label {
  display: inline-block;
  background-color: #fff;
  outline: 3px outset #ccc;
  padding: 3px;
  width: 120px;
  background-image: linear-gradient(#928d93, #eae5eb);
  margin-bottom: 10px;
}
.radio-level-0:checked + label {
  background-color: #ccc;
  outline: 3px inset #ccc;
}
.radio-level-0 + label:hover {
  background-color: #ccc;
}



.radio-level-1 {
  display: inline-block;
  position: absolute;
  left: -9999px;
}
.radio-level-1 + label {
  display: inline-block;
  outline: 3px outset #730202;
  padding: 3px;
  width: 200px;
  background-image: linear-gradient(#730202, #e90100);
  color: #eae5eb;
  white-space: nowrap;
}
.radio-level-1:checked + label {
  background-color: #ccc;
  outline: 3px inset #e96160;
}
.radio-level-1 + label:hover {
  background-color: #ccc;
}

section {
  display: none;
  padding-top: 5px;
  padding-left: 15px;
}

.radio-level-0 ~ section {
}
.radio-level-1 ~ section {
  color: #eae5eb;
  background-color: #111;
  outline: #333 inset 3px;
  width: 822px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
}

#radio-level-0-services:checked ~ #content-services,
#radio-level-0-about:checked ~ #content-about,
#radio-level-0-contact:checked ~ #content-contact,

#radio-services-transfers:checked ~ #content-services-transfers,
#radio-services-customization:checked ~ #content-services-customization,
#radio-services-gunsmithingPackages:checked ~ #content-services-gunsmithingPackages,
#radio-services-sales:checked ~ #content-services-sales,

#radio-contact-address:checked ~ #content-contact-address,
#radio-contact-phone:checked ~ #content-contact-phone,
#radio-contact-sms:checked ~ #content-contact-sms,
#radio-contact-email:checked ~ #content-contact-email {
  display: block;
}

#content-services-gunsmithingPackages > div,
#content-services-customization > div {
  border-bottom: 1px solid #e96160;
  padding: 5px;
}
#content-services-gunsmithingPackages > div:hover,
#content-services-customization > div:hover {
  outline: 3px inset #ccc;
  background-color: #730202;
}
#content-services-gunsmithingPackages > div > span,
#content-services-customization > div > span {
  display: block;
  font-variant: small-caps;
  font-weight: bold;
  color: #e96160;
}

#content-about {
  color: #eae5eb;
}
#content-contact {
  color: #eae5eb;
}
